/* General */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
  background-color: #E4E4E4;
}

/* Icon */
.icon {
    display: inline-block;
}

.icon > img {
    object-fit: contain;
    max-width: 100%;
    width: auto;
}

/* 
 *
 * Footer (global) 
 *
 */

footer {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #3D3F3E;
}

footer ul {
  width: 320px;
}

footer div {
  display: flex;
  justify-content: center;
}

footer li {
  font-size: 15px;
  margin-bottom: 15px;
  line-height: 1;
  color: white;
}

footer a {
  text-decoration: none;
  color: inherit;
}

footer li:first-of-type {
  text-transform: uppercase;
  margin-bottom: 30px;
}

.no-list-style {
  list-style-type: none;
}

/* 
 *
 * Sidebar (global) 
 *
 */

.sidebar {
}

.sidebar.horizontal {

}

.sidebar.vertical {

}

.sidebar ul {
  display: flex;
  list-style-type: none;
  justify-content: space-between;
  width: calc(100vw - 180px);
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  margin-top: 18px;
}

.sidebar li {
  margin-left: 30px;
  margin-right: 30px;
  flex: 1;
  position: relative;
}

.sidebar li::before,
.sidebar li::after {
  background-image:  url('./images/border.png');
  background-repeat: no-repeat;
  background-size: contain;
  width: 8px;
  height: 100%;
  content: '';
  top: 0;
  left: 0;
  position: absolute;
}

.sidebar li::after {
  left: auto;
  right: 0;
}

.sidebar a {

}

.sidebar img {

}

/* 
 *
 * Frontpage (index) 
 *
 */

/* Slider */
.slider {
  overflow-x: hidden;
}

.slider::before,
.slider::after {
  content: '';
  width: 100%;
  display: block;
  height: 6px;
  background: linear-gradient(90deg, rgba(0,255,255,1) 0%, rgba(155,255,133,1) 25%, rgba(246,255,120,1) 50%, rgba(250,212,143,1) 75%, rgba(255,0,255,1) 100%);
}

.slider > .inner {
  width: 300vw;
  display: flex;
  animation: slide 15s ease-in-out infinite;
}

.slider img {
  width: 100vw;
  height: 480px;
  object-fit: cover;
}

@keyframes slide {
  0% {transform: translate3d(0, 0, 0)}
  23.33% {transform: translate3d(0, 0, 0)}
  33.33% {transform: translate3d(-100vw, 0, 0)}
  56.66% {transform: translate3d(-100vw, 0, 0)}
  66.66% {transform: translate3d(-200vw, 0, 0)}
  95% {transform: translate3d(-200vw, 0, 0)}
}


/* Bottom hero */
.bottom-hero {
  height: 510px;
  padding-top: 100px;
  padding-bottom: 100px; 
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  align-items: center;
}

.bottom-hero::before,
.bottom-hero::after {
  position: absolute;
  content: '';
  width: 100%;
  display: block;
  height: 6px;
  background: linear-gradient(90deg, rgba(0,255,255,1) 0%, rgba(155,255,133,1) 25%, rgba(246,255,120,1) 50%, rgba(250,212,143,1) 75%, rgba(255,0,255,1) 100%);
  top: 0;
  left: 0;
}

.bottom-hero::after {
  top: auto;
  bottom: 0;
}

.bottom-hero > h1 {

}

.bottom-hero > h1 > span {
  display: block;
}

.bottom-hero a {
  display: inline-block;
  background-color: rgba(0,0,0,0.5);
  text-decoration: none;
  color: #FFFFFF;
  border: 1px solid #000000;
  text-shadow: -0.7px .71px 1.42px #000;
  font-size: 35px;
  line-height: 1;
  padding: 17px 21px;
  text-transform: uppercase;
  margin-right: 20px;
  margin-left: 20px;
}

/* We do */
.we-do {
  padding-top: 165px;
  padding-bottom: 75px;
}

.we-do > div {
  display: flex;
  align-items: center;
  justify-content: center;
}

.we-do .arrow {
  width: 122px;
  margin-left: 22.5px;
  margin-right: 22.5px;
}

.we-do img:not(.arrow) {
  height: 340px;
}

/* Branding options */
.branding-options {
  
}


.branding-options > h2 {
  text-align: center;
  line-height: 1;
  margin-top: 100px;
  font-size: 130px;
  color: #4D4D4D;
  margin-bottom: 100px;
}

.branding-options > div {
  display: flex;
  margin-left: 10px;
  margin-right: 10px;
}

.branding-options article {
  margin-left: 10px;
  margin-right: 10px;
  flex: 1;
  width: 100%;
  background-color: #F0F0F0;
  padding: 30px;
  height: 480px;
  display: flex;
  flex-direction: column;
  /* gradient border */
}
 
.branding-options article > h3 {
  color: #4D4D4D;
  font-size: 50px;
  line-height: 1;
  margin-bottom: 15px;
}

.branding-options article > p {
  color: #4D4D4D;
  font-size: 15px;
  line-height: 18px;
}

.branding-options article > img {
  height: 210px;
  display: table;
  margin: 0 auto;
  align-items: flex-end;
  margin-top: auto;
}
